- @title = "Accommodations in Atlanta"
- @body_class = "hotel"

%h2 Accommodations in Atlanta

%p
  We have reserved a block of rooms for our out of town guests
  at the the wonderful
  = succeed ',' do
    %a(href="http://artmorehotel.com/") Artmore Hotel
  which is conveniently located in
  = surround ' ', '.' do
    %a(href="https://maps.google.com/maps?q=Artmore+Hotel,+Atlanta,+GA&hl=en&ll=33.790989,-84.386201&spn=0.02436,0.045276&sll=37.0625,-95.677068&sspn=47.215051,92.724609&hq=Artmore+Hotel,+Atlanta,+GA&t=m&z=15")<
      midtown Atlanta
  We will provide
  transportation from this hotel to the ceremony, reception, and back.

%a#rates

%h3 Special rates

%p
  For the nights of Friday, 8/24 and Saturday, 8/25, the Artmore
  offers the following rates for our wedding guests:

%ul
  %li
    Executive King&emsp;
    %em< $119
  %li
    Deluxe Doubles&emsp;
    %em< $129
  %li
    Loft&emsp;
    %em< $149
  %li
    One Bedroom Suite&emsp;
    %em< $169
  %li
    Two Bedroom Suite&emsp;
    %em< $179

%p Free Wi-Fi internet access is available and a hot breakfast buffet is included.  The rates are subject to a 16% tax.

%a#making-a-reservation

%h3 Making a reservation

%p
  To make a reservation,
  call (800) 548-5631 toll-free from the
  = succeed ',' do
    %span.caps US
  or +1 (404) 876-6100 from anywhere. Make sure
  to mention the group code
  %span.caps FRANTOTH
  and the name of the group, &ldquo;Franch Toth Wedding Group&rdquo;.

%p
  If you prefer not to call, you can email
  = succeed ',' do
    %a(href="mailto:wendy@artmorehotel.com") Wendy Smith
  our contact at the hotel, instead: 
  = succeed '.' do
    %a(href="mailto:wendy@artmorehotel.com") wendy@artmorehotel.com

%p
  Please try to make your hotel reservation
  before August&nbsp;1. After this date, the rooms we have reserved for
  %em you
  can be booked by strangers, and the hotel could get booked up.

%p
  If you find that your preferred type of room (king, double, suite)
  is not available,
  = succeed ',' do
    %a(href="/contact") let us know
  as we may be able to work with the hotel to accommodate you.
