- @body_class = "index"

%h2 When?

%p The ceremony will take place on August 25, 2012 beginning at 3:00 p.m.

%h2 Where?

%p
  Carolina&rsquo;s mother, Rev. Vicki Harrington Franch, will perform the marriage ceremony in the main sanctuary of the 
  %a(href="http://peachtreepres.org/") Peachtree Presbyterian Church
  in Atlanta,
  %span.caps GA.
  This will be followed by a cake reception downstairs, in the Williams Center.

%h2 Coming from out of town?

%p
  You can join all the other out of town guests at the the wonderful
  = succeed ',' do
    %a(href="http://artmorehotel.com/") Artmore Hotel
  which is conveniently located in midtown Atlanta. We will provide
  transportation from this hotel to the ceremony, reception, and back.

%p
  To make a reservation at the special
  = succeed ',' do
    %a(href="/hotel") group rates
  call (800) 548-5631 toll-free from the
  = succeed ',' do
    %span.caps US
  or +1 (404) 876-6100 from anywhere. Make sure
  to mention the group code
  %span.caps FRANTOTH
  and the name of the group, &ldquo;Franch Toth Wedding Group&rdquo;.

%p
  If you prefer not to call, you can email
  = succeed ',' do
    %a(href="mailto:jessi@artmorehotel.com") Jessi Ford
  our contact at the hotel, instead: 
  = succeed '.' do
    %a(href="mailto:jessi@artmorehotel.com") jessi@artmorehotel.com

%p
  Please try to make your hotel reservation
  before August 1. After this date, the rooms we have reserved for
  %em you
  can be booked by strangers, and the hotel could get booked up.

%p
  If you find that your preferred type of room (king, double, suite)
  is not available,
  = succeed ',' do
    %a(href="/contact") let us know
  as we may be able to work with the hotel to accommodate you.
