- @body_class = "index"

%h2 RSVP

#form
  %p Kindly reply before the fifteenth of July.

  %iframe#form_submit.hidden{:name => "form_submit"}

  %form#rsvp_form{:action => "https://docs.google.com/spreadsheet/formResponse?formkey=dC1felBMZVJMZUlOQTVXRmVQbncwNWc6MQ&amp;ifq", :method => "POST", :target => "form_submit"}
    %ol
      %li
        %label{:for => "entry_0"}
          Names(s)
        %input#entry_0{:name => "entry.0.single", :type => "text", :value => ""}/
      %ol
        %li
          %label{:for => "group_1_1"}
            %input#group_1_1{:name => "entry.1.group", :type => "radio", :value => "1"}/
            will attend
        %li
          %label{:for => "group_1_2"}
            %input#group_1_2{:name => "entry.1.group", :type => "radio", :value => "0"}/
            will not attend
      %li
        %label{:for => "entry_2"}
          Notes
        %input#entry_3{:name => "entry.2.single", :type => "text", :value => ""}/
      %li
        %input{:name => "submit", :type => "submit", :value => "Submit"}/
    %input{:name => "pageNumber", :type => "hidden", :value => "0"}
    %input{:name => "backupCache", :type => "hidden", :value => ""}

  %p &nbsp;

%p#confirmation
  Thank you for your prompt response!

%h2 When?

%p The ceremony will take place on August 25, 2012 beginning at 3:00 p.m.

%h2 Where?

%p
  Carolina&rsquo;s mother, Rev. Vicki Harrington Franch, will perform the marriage ceremony in the main sanctuary of the 
  %a(href="http://peachtreepres.org/") Peachtree Presbyterian Church
  in Atlanta,
  %span.caps GA.
  This will be followed by a cake reception downstairs, in the Williams Center.

%h2 Coming from out of town?

%p
  You can join all the other out of town guests at the the wonderful
  = succeed ',' do
    %a(href="http://artmorehotel.com/") Artmore Hotel
  which is conveniently located in midtown Atlanta. We will provide
  transportation from this hotel to the ceremony, reception, and back.

%p
  To make a reservation at the special
  = succeed ',' do
    %a(href="/hotel") group rates
  call (800) 548-5631 toll-free from the
  = succeed ',' do
    %span.caps US
  or +1 (404) 876-6100 from anywhere. Make sure
  to mention the group code
  %span.caps FRANTOTH
  and the name of the group, &ldquo;Franch Toth Wedding Group&rdquo;.

%p
  If you prefer not to call, you can email
  = succeed ',' do
    %a(href="mailto:jessi@artmorehotel.com") Jessi Ford
  our contact at the hotel, instead: 
  = succeed '.' do
    %a(href="mailto:jessi@artmorehotel.com") jessi@artmorehotel.com

%p
  Please try to make your hotel reservation
  before August 1. After this date, the rooms we have reserved for
  %em you
  can be booked by strangers, and the hotel could get booked up.

%p
  If you find that your preferred type of room (king, double, suite)
  is not available,
  = succeed ',' do
    %a(href="/contact") let us know
  as we may be able to work with the hotel to accommodate you.

